<html>

<head>
    <title>
        BucketList
    </title>
    <script src="js/materialize.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css') }}">
</head>

<body>
    <div>
        <nav class="center-align blue darken-3 " role="navigation">
            <div class="nav-wrapper container">
                <label style="font-size:200%;" for="">BucketList Application</label>

            </div>
        </nav>
        <br>
        <br>
        <div class="container center-align">
            <div style="display: inline-block;">
                <form action="">
                    <p>
                        <label for="email" required>Email address</label>
                        <input type="email">

                    </p>
                    <p>
                        <label for="password" required>Password</label>
                        <input type="password">
                    </p>
                    <br>
                    <p>
                        <a class="waves-effect waves-light btn-large">Login</a>
                        <label for="" class="right"><a href="#" >Sign Up</label>
                    </p>

                </form>
            </div>

        </div>
    </div>
</body>

</html>