<html>

<head>
    <title>
        BucketList
    </title>
    <script src="js/materialize.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css') }}">
</head>

<body>
    <div>
        <nav class="center-align blue darken-3 " role="navigation">
            <div class="nav-wrapper container">
                <label style="font-size:200%;" for="">BucketList Application</label>

            </div>
        </nav>
        <br>
        <br>
        <div class="container center-align">
            <div style="display: inline-block;">
                <form action="/signup" method="post">
                    <p>
                        <label for="email" required>Email address:</label>
                        <input name="email" type="email">

                    </p>
                    <p>
                        <label for="password" required>Password:</label>
                        <input name="password" type="password">
                    </p>
                    <p>
                        <label for="password" required>Confirm password:</label>
                        <input name="confirm_password" type="password">
                    </p>
                    <br>
                    <p>

                        <button class="btn waves-effect waves-light" type="submit">Signup
                        <i class="material-icons right"></i>
                        </button> </p>

                </form>
            </div>

        </div>
    </div>
</body>

</html>